* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; 
}

body {
  color: #000000;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 400;
}

.table {
  border-radius: 15px;
  line-height: 2;
  overflow: hidden;
  box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 0 40px 0 rgba(0, 0, 0, .15);
  -webkit-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
  position: relative;
  background-color: #fff;
}

.table-header {
  box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);
  width: 100%;
}

.header-cell {
  line-height: 3.5;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.page-title {
  padding-bottom: 1vw;
  padding-left: 1vw;
}

.profile {
  width: 100%;
  min-height: 4vw;
  background-color: white;
  margin-bottom: 4vw;
  border: 1px solid #ddd;
  border-radius: 5vw;
  padding: 1vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10vw; /* Adjust as needed */
}

.profile-name {
  min-height: 32px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.33;
  font-family: 'SamsungSharpSans', arial, sans-serif;
}

.table-btn {
  display: inline-block;
  padding: 5px 10px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 3px;
  margin-right: 5px;
}

.table-btn:hover {
  background-color: #45a049;
}

div {
  unicode-bidi: isolate;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
